@font-face {
    font-family: 'AUTHENTIC Sans';
    src: url('AUTHENTICSans-60.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AUTHENTIC Sans';
    src: url('AUTHENTICSans-90.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AUTHENTIC Sans';
    src: url('AUTHENTICSans-130.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AUTHENTIC Sans';
    src: url('AUTHENTICSans-150.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

